:root {
    --primario: #0b3c6d;
    --acento: #f1c40f;
    --fondo: #f4f7f9;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: var(--fondo);
}

header {
    background: var(--primario);
    padding: 20px;
    text-align: center;
}

header img {
    max-width: 250px;
}

.contenedor {
    display: grid;
    gap: 20px;
    padding: 20px;
}

@media(min-width:768px){
    .contenedor{
        grid-template-columns: 1.5fr 1fr;
    }
}

.tarjeta {
    background: white;
    padding: 25px;
    border-radius: 10px;
}

.img-sistema {
    width: 100%;
    max-width: 350px;
    display: block;
    margin: auto;
}

input {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
}

.btn {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    border: none;
    cursor: pointer;
}

.btn-consultar {
    background: var(--acento);
}

.btn-pdf {
    background: var(--primario);
    color: white;
    display: none;
}

.resultado {
    display: none;
    margin-top: 15px;
    padding: 10px;
}

.activo {
    background: #d4edda;
}

.error {
    background: #f8d7da;
}

footer {
    text-align: center;
    padding: 20px;
}
